@model DataPager<TCourse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a data-toggle="modal" data-target="#modal1" class="btn btn-info text-white">Create Course</a>
</p>
<form asp-area="Course" asp-controller="Courses" asp-action="Index" method="get">
    <div class="row">
        <div class="col-auto">
            <input id="search" name="search" placeholder="Search" class="form-control" />
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-outline-info">Search</button>
        </div>
        <div class="col-sm-2">
            <input type="number" name="records" class="form-control" value="5" min="1" max="50" step="1" />
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-outline-info">Records</button>
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Input.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Status)
            </th>
            <th>
                Options
            </th>
        </tr>*@
    </thead>
    <tbody>
        @*@foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @{
                        var data = JsonConvert.SerializeObject(item);
                        <a data-toggle="modal" onclick="career.CareerEdit(@data)" data-target="#modal1" class="btn btn-outline-info">Edit</a>
                        <a data-toggle="modal" onclick="career.CareerGet(@data)" data-target="#modal2" class="btn btn-outline-danger">Delete</a>
                    }
                </td>
            </tr>
        }*@
    </tbody>
</table>
<div>
    @*Results: @Html.Raw(Model.Page_info)
    <br />
    @Html.Raw(Model.Page_nav)*@
</div>

<partial name="_RegisterModal" />
<partial name="_DeleteModal" />

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}