@model Expedientes_Goya.Areas.Expedientes.Models.Expedientes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expedientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumExpdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumExpdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOperador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOperador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extracto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extracto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAltaExpte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAltaExpte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalExpte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalExpte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdExpdt" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
