@model IEnumerable<Expedientes_Goya.Areas.Expedientes.Models.Expedientes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumExpdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOperador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extracto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAltaExpte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalExpte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumExpdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOperador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extracto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAltaExpte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalExpte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdExpdt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdExpdt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdExpdt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
